.modal-backdrop {
    background-color: transparent;
}

#my-search-bar {
    z-index: 30;
    border-radius: 10px;
    text-align: center;
    border-width: 0;
    outline: none;
    box-shadow: 0 0 10px gray;
    border-style: none;
    background-color: white;
}